body{
    background-color: rgb(37, 45, 52);
}
nav{
    position: relative;
    display: flex;
    flex-direction:row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 5px; 
    background-color: chocolate;
}

.link{
    color: rgb(100, 237, 79);
    text-decoration: none;
    padding: 3px;
}

.link:hover {
    /* display: block; */
    color: chocolate;
    background-color: white;
}

.sub-link{
    display: none;
    background-color: rgb(0, 255, 81);
    margin: 5px;
    position: absolute;
    border-radius: 5px;
    /* text-align: center;   */
    /* left: 0px; */
}

.sub-link ol{
    /* margin-top: 100px; */
    padding: 15px;
    list-style-type: none;
}

li:hover .sub-link{
    display: block;
}

.sub-link::mouse-leave{
    display: none;
}
